@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
     font-family: 'Quicksand', Poppins;
     margin: auto;
}

.navbar-bengkel {
     color: black;
     font-weight: 600;
     position: fixed;
     top: 0;
     z-index: 1;
}

.btn-navbar {
     font-weight: 400;
     position: absolute;
     left: 70%;
     transform: translatex(-60%);
}

.nav-link {
     font-style: normal;
     font-size: 16px;
     line-height: 30px;
     letter-spacing: 0.01em;
     margin: 0px 20px 0px 20px;
}

.footer-bengkel {
     color: white;
     background-color: #3C486B;
     padding: 40px 0px 40px 0px;
}

.heading-footer {
     font-weight: 600;
}

.btn-footer {
     color: white;
     text-decoration: none;
}